<html lang="ja" style="width: 100%;">
<head>
  <meta charset="UTF-8">
  <script type="module" src="/static/js/base/page_load.js"></script>
  <link rel="icon" href="/static/img/fentsu_lowres.png" type="image/png">
</head>
<body tabindex="0">
  <a class="page-navigator" href="/home"><div style="color:#dd3062;margin:auto;width: fit-content;display: flex;text-decoration: none;">
    <img src="/static/img/fentsu_lowres.png" style="height: 50px;width: auto;"><p style="align-items: center; font-size: 30;margin:0">フェンツへようこそ！ / Welcome to Fentsu!</p></div></a>
  <hr>
  <div id="page_content_body" style="min-height: 850px;"></div>
  <div style="height: 300px;background-color: rgb(44, 43, 48); width: 100%;margin: auto;">
    <a class="page-navigator" href="/about">about</a><br>
    <a class="page-navigator" href="/one/23/example_string?example=parameter">testing view</a>
  </div>
</body>

</html>
