<html lang="ja" style="width: 100%;">
<head>
  <meta charset="UTF-8">
  <script type="module" src="/static/js/base/page_load.js"></script>
  <script src="/static/js/base/jquery-3.7.1.min.js"></script>
</head>
<body>
  <a class="page-navigator" href="/home"><h1 style="color:rgb(255, 0, 128);margin:auto;width: fit-content;">フェンツへようこそ！</h1></a>
  <hr>
  <div id="page_content_body" style="min-height: 850px;"></div>
  <div style="height: 300px;background-color: rgb(44, 43, 48); width: 100%;margin: auto;">
    <a class="page-navigator" href="/about">about</a><br>
    <a class="page-navigator" href="/one/23/example_string?example=parameter">testing view</a>
  </div>
</body>

</html>
